.wallet_info {
    color: black;
    float: left;
    width: 50%;
}
.wallet_doughnut_chart_info {
    color: lightgray;
    float: left;
    max-width: 50%;
}
.wallet_bar_chart_info {
    color: lightgray;
    float: left;
    width: 50%;
}
.main-wallet-info:after {
    content: '';
    display: table-column;
    clear: both;
}
@media screen and (max-width: 900) {
    .wallet_info, .wallet_doughnut_chart_info, .wallet_bar_chart_info {
        width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .wallet_info, .wallet_doughnut_chart_info, .wallet_bar_chart_info {
        width: 100%;
    }
}

