{% load spending_tags %}
{% load earnings_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/wallet.css' %}" rel="stylesheet">
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>Wallet</h2>
            <p>This is my wallet.
                Registered {% total_spendings %} spendings so far and {% total_earnings %} earnings.
            </p>
        <h3>Latest spendings</h3>
            {% show_latest_spendings 3 %}
        <h4>Most commented spendings</h4>
            {% get_most_commented_spendings as most_commented_spendings %}
            <ul>
                {% for obj in most_commented_spendings %}
                <li>
                    <a href="{{ obj.get_absolute_url }}">{{ obj.amount }} {{ obj.sub_category }}</a>
                </li>
                {% endfor %}
            </ul>
        <p>
            <a href="{% url 'wallet:spending_feed' %}">
                Subscribe to my spendings RSS feed
            </a>
        </p>
        <h3>Latest earnings</h3>
            {% show_latest_earnings 3 %}
        <h4>Most commented earnings</h4>
            {% get_most_commented_earnings as most_commented_earnings %}
            <ul>
                {% for obj in most_commented_earnings %}
                <li>
                    <a href="{{ obj.get_absolute_url }}">{{ obj.amount }} {{ obj.sub_category }}</a>
                </li>
                {% endfor %}
            </ul>
        <p>
            <a href="{% url 'wallet:earning_feed' %}">
                Subscribe to my earnings RSS feed
            </a>
        </p>
    </div>
</body>
</html>