{% extends 'base.html' %}

{% block title %}Wallet detail{% endblock %}

{% block content %}
    <h1>Wallet details for {{ wallet.name }}</h1>
    <h3>
        Total spendings: {{ spending_sum }}
    </h3>
    <h3>
        Total earnings: {{ earning_sum }}
    </h3>
    {% if difference > 0 %}
    <h2 style="color: MediumSeaGreen;">
        Difference: {{ difference }}
    </h2>
    {% else %}
    <h2 style="color: tomato;">
        Difference: {{ difference }}
    </h2>
    {% endif %}
    <h4>
        <a href="{% url 'wallet:spending_list' wallet_id=wallet.id %}">
            Spendings
        </a>
    </h4>
    <h4>
        <a href="{% url 'wallet:earning_list' wallet_id=wallet.id %}">
            Earnings
        </a>
    </h4>
{% endblock %}


