{% extends 'base.html' %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <h1>Wallet details for {{ wallet.name }}</h1>
      <div class="wallet_info" style="float: left;">
        <p>
            Total spendings: {{ spending_sum }}
        </p>
        <p>
            Total earnings: {{ earning_sum }}
        </p>
        {% if difference > 0 %}
          <p style="color: MediumSeaGreen;">
            Difference: {{ difference }}
          </p>
        {% else %}
          <p style="color: tomato;">
            Difference: {{ difference }}
          </p>
        {% endif %}
        <p>
          <a href="{% url 'wallet:spending_list' wallet_id=wallet.id %}">
              Spendings
          </a>
        </p>
        <p>
          <a href="{% url 'wallet:earning_list' wallet_id=wallet.id %}">
              Earnings
          </a>
        </p>
      </div>
      <div class="wallet_doughnut_chart_info">
          <canvas id="myChart"></canvas>
      </div>
      <div class="wallet_info">
        <canvas id="mySpendingsBarChart"></canvas>
      </div>
      <div class="wallet_info">
        <canvas id="myEarningsBarChart"></canvas>
      </div>
      
    <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: ['Spendings', 'Earnings'],
            datasets: [{
              label: 'Total sum',
              data: {{ data|safe }},
              borderWidth: 1,
              backgroundColor: ['#ff7675', '#7bed9f'],
              hoverBackgroundColor: ['#d63031', '#2ed573'],
            }]
          },
          options: {
            plugins: {
              legend: {
                position: 'right'
              }
            }
          }
        });
    </script>

    <script>
      const ctx_1 = document.getElementById('mySpendingsBarChart');

      new Chart(ctx_1, {
        type: 'bar',
        data: {
          labels: {{ labels_spendings_category|safe }},
          datasets: [{
            label: 'Spendings',
            data: {{ data_spendings_category|safe }},
            borderWidth: 1,
            backgroundColor: ['#ff7675'],
            hoverBackgroundColor: ['#d63031']
          }]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'left',
              display: false
            }
          },
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      })
    </script>

    <script>
      const ctx_2 = document.getElementById('myEarningsBarChart')

      new Chart(ctx_2, {
        type: 'bar',
        data: {
          labels: {{ labels_earnings_subcategory|safe }},
          datasets: [{
            label: 'Earnings',
            data: {{ data_earnings_subcategory|safe }},
            borderWidth: 1,
            backgroundColor: ['#7bed9f'],
            hoverBackgroundColor: ['#2ed573']
          }]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'left',
              display: false
            }
          },
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      })
    </script>
      
{% endblock %}


