{% extends "wallet/base.html" %}

{% block title %}{{ spending.amount }}{% endblock %}

{% block content %}
    <h1>{{ spending.amount }}</h1>
    <p class="date">
        Spent on {{ spending.created_at }} by {{ spending.member }}
    </p>
    {{ spending.created_at | linebreaks }}
    <p>
        <a href="{% url 'wallet:spending_share' spending.id %}">
            Share
        </a>
    </p>

    <h2>Similar spendings</h2>
    {% for obj in similar_spendings %}
        <p>
            <a href="{{ obj.get_absolute_url }}">{{ obj.amount }}</a>
        </p>
    {% empty %}
        There are no similar spendings yet.
    {% endfor %}

    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment{{ total_comments|pluralize }}
        </h2>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p>There are no comments.</p>
    {% endfor %}
    {% include "spending/includes/comment_form.html" %}
{% endblock %}