{% extends 'base.html' %}
{% load spending_tags %}


{% block title %}{{ spending.amount }} on {{ spending.sub_category }}{% endblock %}

{% block content %}
    <h1>{{ spending.amount }} {{ spending.sub_category }}</h1>
    <p class="date">
        Spent on {{ spending.created_at }} by {{ spending.member }}
    </p>
    {{ spending.comment|markdown|truncatewords_html:30 }}
    <p>
        <a href="{% url 'wallet:spending_share' wallet_id=spending.wallet.id spending_id=spending.id %}">
            Share
        </a>
    </p>
    <a href="{% url 'wallet:update_spending' wallet_id=spending.wallet.id spending_id=spending.id %}">
        <button type="button-edit">Update</button>
    </a>
    {# <a href="#"><button type="button-delete">Delete</button> </a> #}
    <form method="post" action="{% url 'wallet:delete_spending' wallet_id=spending.wallet.id spending_id=spending.id %}" onsubmit="return confirm('Are you sure you want to delete this spending?');">
        {% csrf_token %}
        <button type="submit" class="button-delete">Delete</button>
    </form>
    <h2>Similar spendings</h2>
    {% for obj in similar_spendings %}
        <p>
            <a href="{% url 'wallet:spending_detail' wallet_id=obj.wallet.id spending_id=obj.id %}">{{ obj.amount }}</a>
        </p>
    {% empty %}
        There are no similar spendings yet.
    {% endfor %}

    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment{{ total_comments|pluralize }}
        </h2>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p>There are no comments.</p>
    {% endfor %}
    {% include "spending/includes/comment_form.html" %}
{% endblock %}