{% extends 'base.html' %}
{% load spending_tags %}

{% block title %}Spending List{% endblock %}

{% block content %}
    <h1>Spending List</h1>
    {% if tag %}
        <h2>Spendings tagged with "{{ tag.name }}"</h2>
    {% endif %}
    {% for obj in spending %}
        <h2>
            <a href="{% url 'wallet:spending_detail' wallet_id=obj.wallet.id spending_id=obj.id %}">
                {{ obj.amount }} spent on {{ obj.sub_category }}
            </a>
        </h2>
        {{ obj.comment|markdown|truncatewords_html:30 }}
        <p class="tags">
            Tags:
            {% for tag in obj.tags.all %}
                <a href="{% url 'wallet:spending_list_by_tag' tag.slug %}">
                    {{tag.name}}
                </a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p class="date">
            Spent on {{obj.created_at}} by {{obj.member}}
        </p>
    {% endfor %}
    {% include 'pagination.html' with page=spending %}
{% endblock %}