{% load expense_tags %}
{% load incomes_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'account:css/base.css' %}" rel="stylesheet">
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <!-- <div id="sidebar">
        <h2><a href="">Wallet info</a></h2>
            <p style="color: MediumSeaGreen;">
                Total of {% total_incomes %} incomes is {% income_sum %}.
            </p>
            <p style="color: tomato;">
                Total of {% total_expenses %} expenses is {% expense_sum %}.
            </p>
        <h3>Latest expenses</h3>
            {% show_latest_expenses 3 %}
        <h4>Most commented expenses</h4>
            {% get_most_commented_expenses as most_commented_expenses %}
            <ul>
                {% for obj in most_commented_expenses %}
                <li>
                    <a href="{% url 'wallet:expense_detail' wallet_id=obj.wallet.id expense_id=obj.id %}">{{ obj.amount }} {{ obj.sub_category }}</a>
                </li>
                {% endfor %}
            </ul>
        <p>
            <a href="{% url 'wallet:expense_feed' %}">
                Subscribe to my expenses RSS feed
            </a>
        </p>
        <h3>Latest incomes</h3>
            {% show_latest_incomes 3 %}
        <h4>Most commented incomes</h4>
            {% get_most_commented_incomes as most_commented_incomes %}
            <ul>
                {% for obj in most_commented_incomes %}
                <li>
                    <a href="{{ obj.get_absolute_url }}">{{ obj.amount }} {{ obj.sub_category }}</a>
                </li>
                {% endfor %}
            </ul>
        <p>
            <a href="{% url 'wallet:income_feed' %}">
                Subscribe to my incomes RSS feed
            </a>
        </p>
    </div> -->
</body>
</html>