{% extends 'base.html' %}
{% load incomes_tags %}

{% block title %}{{ income.amount }}{% endblock %}

{% block content %}
    <h1>{{ income.amount }} {{ income.sub_category }}</h1>
    <p class="date">
        Earned on {{ income.created_at }} by {{ income.member }}
    </p>
    {{ income.comment|markdown|truncatewords_html:30 }}
    <p>
        <a href="{% url 'wallet:income_share' income.id %}">
            Share
        </a>
    </p>
    <a href="{% url 'wallet:update_income' wallet_id=income.wallet.id income_id=income.id %}">
        <button type="button-edit">Update</button>
    </a>
    {# <a href="#"><button type="button-delete">Delete</button> </a> #}
    <form method="post" action="{% url 'wallet:delete_income' wallet_id=income.wallet.id income_id=income.id %}" onsubmit="return confirm('Are you sure you want to delete this expense?');">
        {% csrf_token %}
        <button type="submit" class="button-delete">Delete</button>
    </form>
    <h2>Similar incomes</h2>
    {% for obj in similar_incomes %}
        <p>
            <a href="{{ obj.get_absolute_url }}">{{ obj.amount }}</a>
        </p>
    {% empty %}
        There are no similar incomes yet.
    {% endfor %}

    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment{{ total_comments|pluralize }}
        </h2>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p>There are no comments.</p>
    {% endfor %}
    {% include "income/includes/comment_form.html" %}
{% endblock %}